extends ../layouts/layout

block content

    form.form.center-form(method='post' action='/admins/add/')
        h2 Add admin
        .form-group
            label(for='username') Username
            select#username.input-field(name='username')
                for user in users
                    option= user.username
        .form-group
            input.form-btn.btn(type='submit', value='Make admin')

