<md-card class="wrapper">
  <md-card-title>Register</md-card-title>
  <md-card-content>
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
      <md-input-container>
        <input mdInput 
          (ngModel)="email" 
          placeholder="Email" 
          type="email" 
          name="email" 
          required 
        />
        <md-hint align="start" *ngIf="errors.email" [ngStyle]="{'color': 'red'}">
          {{errors.email}}
        </md-hint>
        <md-error *ngIf="registerForm.hasError('required','email')">
          Email is required.
        </md-error>
      </md-input-container>

      <md-input-container>
        <input mdInput 
          (ngModel)="password" 
          placeholder="Password" 
          type="password" 
          name="password" 
          required 
        />
        <md-hint align="start" *ngIf="errors.password" [ngStyle]="{'color': 'red'}">
          {{errors.password}}
        </md-hint>
        <md-error *ngIf="registerForm.hasError('required','password')">
          Password is required.
        </md-error>
      </md-input-container> 

      <md-input-container>
        <input mdInput 
          (ngModel)="name" 
          placeholder="Name" 
          type="text" 
          name="name" 
          required
        />
        <md-hint align="start" *ngIf="errors.name" [ngStyle]="{'color': 'red'}">
          {{errors.name}}
        </md-hint>
        <md-error *ngIf="registerForm.hasError('required','name')">
          Name is required.
        </md-error>
      </md-input-container> 

      <button md-raised-button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
  </md-card-content>
</md-card>